@model MedicalStore.Models.clsOutDoorPatientTest

@{
    ViewBag.Title = "Add - Investigation Test";
    Layout = "~/Views/_LayoutPage.cshtml";
}

@*<ol class="breadcrumb">
    <li style="font-weight: bold;">Investigation Test</li>
    <li>@Html.ActionLink("List - Investigation Test", "Index")</li>
    <li>@Html.Raw("Add - Investigation Test")</li>
</ol>*@

<ul class="breadcrumb-bg">
    <li><a href="../OutDoorPatientTest/Index"><span class="fa fa-home"></span> List - Investigation Test</a> </li>   
    <li><a href="../OutDoorPatientTest/AddNew"> <span class="fa fa-plus"></span> Add - Investigation Test</a> </li>       
</ul>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Add Information</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken() 
                    
                    <div class="box-body col-md-6 col-sm-12 bArea">
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-right">@Html.LabelFor(model => model.TestNo) *</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.TestNo, new { @class = "form-control", @Value = @ViewBag.InvestigationTestNo, @Readonly = "true", style = "background-color:white; font-weight:bold; font-size:18px;" }) 
                            </div>
                        </div>
                    </div>
                    <div class="box-body col-md-6 col-sm-12 bArea">
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-right">@Html.LabelFor(model => model.TestDate) *</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.TestDate, "{0:MM/dd/yyy}", new { @Value = DateTime.Now.Date.ToString("MM/dd/yyyy"), id = "Enterdatepicker", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TestDate, null, new { @class = "text-danger errorSize" })
                            </div>
                        </div>
                    </div>
                    <div class="box-body col-md-6 col-sm-12 bArea">
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-right">@Html.LabelFor(model => model.TestType) *</label>
                            <div class="col-sm-8">
                                @Html.RadioButtonFor(model => model.TestType, "Lab", new { @checked = "checked", onchange = "this.form.submit();" }) Lab &nbsp;&nbsp;
                                    @Html.RadioButtonFor(model => model.TestType, "X-Ray", new { onchange = "this.form.submit();" }) X-Ray
                                &nbsp;&nbsp;
                                @Html.RadioButtonFor(model => model.TestType, "Ultra Sound", new { onchange = "this.form.submit();" }) Ultra Sound
                                &nbsp;&nbsp;
                                @Html.RadioButtonFor(model => model.TestType, "ECHO", new { onchange = "this.form.submit();" }) ECHO
                                <br />
                                @Html.ValidationMessageFor(model => model.TestType, null, new { @class = "text-danger errorSize" })
                            </div>
                        </div>
                    </div> 
                      <div class="box-body col-md-6 col-sm-12 bArea">
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-right">@Html.LabelFor(model => model.PatientName) *</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.PatientName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PatientName, null, new { @class = "text-danger errorSize" })
                            </div>
                        </div>
                    </div>
                    <div class="box-body col-md-6 col-sm-12 bArea">
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-right">@Html.LabelFor(model => model.TestID) *</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("TestID", ViewBag.DdTestName as SelectList, "Select Test Name", new { onchange = "this.form.submit();", @class = "form-control  select2" })
                                <div class="col-sm-1" style="margin-left: -30px; margin-top: 7px;">
                                    <input type="image" name="addnewtest" value="newtest" src="~/images/plus24x24.png" style="display: none;" title="Add New Diagnostic Test" />
                                </div>
                                @Html.ValidationMessageFor(model => model.TestID, null, new { @class = "text-danger errorSize" })
                            </div>
                        </div>
                    </div>                   
                   
                    <div class="box-body col-md-6 col-sm-12 bArea">
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-right">@Html.LabelFor(model => model.ContactNo) </label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control" })
                                @*@Html.ValidationMessageFor(model => model.ContactNo, null, new { @class = "text-danger errorSize" })*@
                            </div>
                        </div>
                    </div>  
                     <div class="box-body col-md-6 col-sm-12 bArea">
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-right">@Html.LabelFor(model => model.Charges) *</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.Charges, new { @Value = @ViewBag.ChargesValue, @class = "form-control" })
                            </div>
                        </div>
                    </div>
                      <div class="box-body col-md-6 col-sm-12 bArea">
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-right">@Html.LabelFor(model => model.Age) </label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.Age, new { type = "number", onchange = "DefaultAge()", id = "txtAge", @class = "form-control", @Value = "0"})
                                @*@Html.ValidationMessageFor(model => model.Age, null, new {  @class = "text-danger errorSize" })*@
                            </div>
                        </div>
                    </div>
                    
                    <div class="box-body col-md-6 col-sm-12 bArea">
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-right">@Html.LabelFor(model => model.Sex) *</label>
                            <div class="col-sm-8">
                                @Html.RadioButtonFor(model => model.Sex, "Male", new { @checked = "checked" }) Male &nbsp;&nbsp;
                                    @Html.RadioButtonFor(model => model.Sex, "Female") Female
                                    <br />
                            </div>
                        </div>
                    </div>
                    
                    <div class="box-body col-md-6 col-sm-12 bArea">
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-right">@Html.LabelFor(model => model.Discount) </label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.Discount, new { @class = "form-control", onchange = "DefaultValue()", type = "number", id = "txtDiscount", @Value = "0" })
                                @Html.ValidationMessageFor(model => model.Discount, null, new { @class = "text-danger errorSize" })
                            </div>
                        </div>
                    </div>
                    <div class="box-body col-md-6 col-sm-12 bArea">
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-right">@Html.LabelFor(model => model.DoctorID) *</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("DoctorID", ViewBag.DdDoctor as SelectList, "Select Doctor Name", new { onchange = "this.form.submit();", @class = "form-control  select2" })
                                @Html.ValidationMessageFor(model => model.DoctorID, null, new { @class = "text-danger errorSize" })
                            </div>
                        </div>
                    </div>
                    if ((bool)ViewBag.IsOther)
                    {
                    <div class="box-body col-md-6 col-sm-12 bArea">
                        <div class="form-group">
                            <label class="col-sm-4 control-label text-right">@Html.LabelFor(model => model.DoctorName) *</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.DoctorName, new { @class = "form-control"})
                                
                            </div>
                        </div>
                    </div>   
                    }
                    <div class="box-footer col-xs-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input type="submit" name="submit1" value="Add" class="btn btn-info" />
                                @*<input type="submit" name="submit1" value="Add & Print" class="btn btn-success" />*@
                                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    function DefaultValue() {
        var dis = document.getElementById("txtDiscount");
        if (dis.value.length <= 0) {
            dis.value = 0;
        }
    }
    function DefaultAge() {
        var dis = document.getElementById("txtAge");
        if (dis.value.length <= 0) {
            dis.value = 0;
        }
    }
</script>

<!-- Select2 -->
<script src="@Url.Content("~/Resources/plugins/select2/select2.full.min.js")"></script>

<script type="text/javascript">
    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();
    });
</script>
