@using PagedList;
@using PagedList.Mvc;
@model IEnumerable<MedicalStore.Models.clsOutDoorPatientTest>

@{
    ViewBag.Title = "List - Investigation Test";
    Layout = "~/Views/_LayoutPage.cshtml";
}

@*<ol class="breadcrumb">
    <li style="font-weight: bold;">Investigation Test</li>
    <li>@Html.Raw("List - Investigation Test")</li>
    <li>@Html.ActionLink("Add - Investigation Test", "AddNew")</li>
</ol>*@

<ul class="breadcrumb-bg">
    <li><a href="../OutDoorPatientTest/Index"><span class="fa fa-home"></span> List - Investigation Test</a> </li>   
    <li><a href="../OutDoorPatientTest/AddNew"> <span class="fa fa-plus"></span> Add - Investigation Test</a> </li>       
</ul>


<script src="~/JSFiles/JSSearch.js"></script>
<div data-ng-app="modSearch">
    <div data-ng-controller="ctrlSearch" data-ng-init="GetCtrlOutDoorPatientTestData()">
        <div class="row">
            <div class="col-md-12">
                <a href="../OutDoorPatientTest/PrintReport" data-tooltip="Print Today's Investigation Test"><span class="btn btn-success">Print Today's Investigation Test</span></a>
                
                <div class="box">
                    <div class="box-header with-border">
                        <div class="col-xs-12" style="padding-left: 0px;">
                            <div class="btn-group pull-left">
                                <select ng-model="itemsPerPage" class="form-control input-sm">
                                     <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="300">300</option>
                                    <option value="400">400</option>
                                </select>
                            </div>
                            <div class="btn-group pull-right">
                                <input type="text" ng-model="txtSearch" ng-click="currentPage=0" class="form-control input-sm" placeholder="Search" />
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <div class="box-body" ng-show="CheckSH">
                        <pre><i class="fa fa-spinner fa-spin fa-lg"></i>  Loading...</pre>
                    </div>
                    <div class="box-body text-left table-responsive no-padding" ng-show="!CheckSH">
                        <table class="table table-condensed table-bordered table-striped margin-left ">
                            <tr>
                                <th>Test No</th>
                                <th>Test Date</th>
                                <th>Patient Name</th>
                                <th>Test</th>
                                <th>Charges</th>
                                <th>Doctor Name</th>
                                <th>Contact No</th>
                                <th>Age</th>
                                 <th>Sex</th>
                                <th>Discount</th>
                                <th style="width: 80px" class="text-center">@Html.DisplayName("Re-Print")</th>
                                <th style="width: 80px" class="text-center">@Html.DisplayName("Edit")</th>
                                <th style="width: 80px" class="text-center">@Html.DisplayName("Delete")</th>
                            </tr>
                            <tr class="paginationclass" ng-repeat="B in alldata | filter:txtSearch | pagination : currentPage*itemsPerPage | limitTo: itemsPerPage">
                                <td>{{B.TestNo}}</td>
                                <td>{{B.TestDate.replace('/Date(','').replace(')/','') | date:"dd MMM, yyyy"}}</td>
                                <td>{{B.PatientName}}</td>
                                <td>{{B.TestName}}</td>
                                <td>{{B.Charges}}</td>
                                <td>{{B.DoctorName}}</td>
                                <td>{{B.ContactNo}}</td>
                                <td>{{B.Age}}</td>
                                 <td>{{B.Sex}}</td>
                                <td>{{B.Discount}}</td>
                                <td class="btnFields">
                                    <a href="../OutDoorPatientTest/RePrintReport/{{B.OutDoorTestID}}" data-tooltip="Re-Print: {{B.TestNo}}"><span class="fa fa-print btnLarge text-info"></span></a>
                                </td>
                                <td class="btnFields">
                                    <a href="../OutDoorPatientTest/Edit/{{B.OutDoorTestID}}" data-tooltip="Edit: {{B.TestNo}}"><span class="fa fa-edit btnLarge text-info"></span></a>
                                </td>
                                <td class="btnFields">
                                    <a href="#" class="fa fa-trash btnLarge text-danger" data-tooltip="Delete: {{B.TestNo}}" onclick="funDelete(this)" data-toggle="modal" data-target="#myModal" id="{{B.OutDoorTestID}}"></a>
                                </td>
                            </tr>
                        </table>

                        <div class="pagination-div">
                            <ul class="pagination">
                                <li ng-class="DisablePrevPage()">
                                    <a href ng-click="prevPage()">« Prev</a>
                                </li>
                                <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                                    <a href="#">{{n+1}}</a>
                                </li>
                                @*<li ng-repeat="n in range()">
                                            <a href="#" style="background-color:red !important;">{{n}}</a>
                                        </li>*@
                                <li ng-class="DisableNextPage()">
                                    <a href ng-click="nextPage()">Next »</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function funDelete(a) {
        var id = $(a).attr("id");
        $("#DRecord").attr("href", "../OutDoorPatientTest/Delete/" + id);
    }
</script>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Alert</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete?</p>
            </div>
            <div class="modal-footer">
                <a href="#" id="DRecord" class="btn btn-info">YES</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
            </div>
        </div>
    </div>
</div>
 