<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="~/images/favicon.ico" rel="icon" type="image/x-icon" />

    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->

    <link href="@Url.Content("~/Resources/bootstrap/css/bootstrap.min.css")" type="text/css" rel="stylesheet" />

    <link href="~/Resources/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Theme style -->
    <link href="~/Resources/dist/css/AdminLTE.min.css" rel="stylesheet" />

    <!-- Select2 -->
    <link rel="stylesheet" href="@Url.Content("~/Resources/plugins/select2/select2.min.css")" />

    <link href="@Url.Content("~/Resources/dist/css/skins/skin-blue.min.css")" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/Resources/bootstrap/css/MyCustomStyle.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Resources/bootstrap/css/BreadCrumbCSS.css")" />


    <script src="@Url.Content("~/Resources/plugins/jQuery/jquery-2.2.3.min.js")" type="text/javascript"></script>

    
    <script src="~/External%20Links/angular.js"></script>
    <script src="~/External%20Links/ui-bootstrap-tpls-0.9.0.js"></script>
    <script src="@Url.Content("~/Resources/plugins/jQuery/jquery-2.2.3.min.js")" type="text/javascript"></script>
    <style>
        .datepicker{
            padding:0px;
        }
        .datepicker tr td{
            text-align:center;
        }
        .datepicker-days {
            padding:4px;
            height: 260px;
        }
        .datepicker-days tr td{
            padding:2px 8px;
        }
                .datepicker-days tr td:hover {
                    cursor:pointer;
                }
        .datepicker-switch{
            text-align: center;
        }

        .datepicker-days .prev:hover, .next{
            cursor: pointer
        }
        .treeview-menu > li {
           border-left: 3px solid ;
        }
        .bg-black {
           color: #fff;
           background: #1e282c;
           border-left: 3px solid #3c8dbc !important;
        }
        
        .treeview-menu > li:hover{
           color: #fff;
           background: #1e282c;
           border-left: 3px solid #3c8dbc;
        }
        
        .modal-dialog {
            width: 70%;
        }
        .DischargeColor {
            background-color:#fa00002e !important;
        }
    </style>


</head>
<body class="hold-transition skin-blue sidebar-mini" onload="startTime()">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="Index" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                @* <span class="logo-mini"><b>A</b>PL</span>*@
                <!-- logo for regular state and mobile devices -->
                @*<span class="logo-lg"><b>Demo</b></span>*@
                <span class="logo-lg">
                    <img src="~/images/hospital-management-system-logo.png" style="height: 40px" /></span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="@Url.Content("~/Resources/dist/img/user2-160x160.jpg")" class="user-image" alt="User Image">
                                
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                @* <span class="hidden-xs">Welcome: &nbsp;&nbsp; @Session["UserName"]</span>*@
                                <span>Welcome: &nbsp;&nbsp; @Session["UserName"]</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    @* <img src="@Url.Content("~/Resources/dist/img/user2-160x160.jpg")" class="img-circle" alt="User Image">*@

                                    <p>
                                        @Session["UserName"]

                                        @*<small>Member since Nov. 2012</small>*@
                                        
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                @*<li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Followers</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Sales</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Friends</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>*@
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    @* <div class="pull-left">
                                        <a href="/Users/ChangePwd" class="btn btn-default btn-flat">Change Password</a>
                                    </div>*@
                                    <div class="pull-right">
                                        <a href="~/Users/Logout" class="btn btn-default btn-flat">Log out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    @*<div class="pull-left image">
                        <img src="@Url.Content("~/Resources/dist/img/user2-160x160.jpg")" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Mr. Mudasir Hussain</p>
                        <!-- Status -->
                        <a href="#"><i class="fa fa-circle text-success"></i>Online</a>
                    </div>*@
                </div>

                <!-- search form (Optional) -->
                @* <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>*@
                <!-- /.search form -->

                <!-- Sidebar Menu -->
                @{
                    var CompleteURL = Request.RawUrl.ToString();
                    var URLList = CompleteURL.Split('/');
                    var ActionName = URLList[0];
                    var ControllerName = URLList[1]; 
                
                <ul class="sidebar-menu">
                    <li class="header"> <marquee> <font color="yellow"> <div id="txt"></div></font></marquee></li>
                    <!-- Optionally, you can add icons to the links -->
                    @Html.Raw(Session["MenuBar"]) 
                </ul>
                <!-- /.sidebar-menu -->
                }
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div>
                    @RenderBody()
                </div>
            </section>

            <!-- Main content -->
            <section class="content">

                <!-- Your Page Content Here -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Designed By Manik & Sharoz
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; @System.DateTime.Today.Year <a href="http://manikSolutions.com/" target="_blank">Manik Solutions</a>.</strong> All rights reserved.
        </footer>
    </div>



        <script src="@Url.Content("~/Resources/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Resources/dist/js/app.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Resources//plugins/datepicker/bootstrap-datepicker.js")" type="text/javascript"></script>
    <script>
        //Date picker
        $('#Enterdatepicker').datepicker({
            format: 'mm/dd/yyyy',
            autoclose: true
        });
        $('#Enterdatepicker1').datepicker({
            format: 'mm/dd/yyyy',
            autoclose: true
        });
        $('#Enterdatepicker2').datepicker({
            format: 'mm/dd/yyyy',
            autoclose: true
        });
        $('#Enterdatepicker3').datepicker({
            format: 'mm/dd/yyyy',
            autoclose: true
        });
        $('#Enterdatepicker4').datepicker({
            format: 'mm/dd/yyyy',
            autoclose: true
        });
        $('#Updatedatepicker').datepicker({
            format: 'mm/dd/yyyy',
            autoclose: true
        });
        $('#Deletedatepicker').datepicker({
            format: 'mm/dd/yyyy',
            autoclose: true
        });
        $('#Expensesdatepicker').datepicker({
            format: 'mm/dd/yyyy',
            autoclose: true
        });



        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('txt').innerHTML = today;
            //today + " " + h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
            return i;
        }

    </script>


</body>
</html>
