@*@using MedicalStore.Models;
@model  SalesViewModel*@
@model MedicalStore.Models.SalesViewModel


@{
    ViewBag.Title = "Indoor Patient Medicine";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<ul class="breadcrumb-bg">
    <li><a href="../../PatientReg/Index"><span class="fa fa-home"></span> List - Indoor Patient</a> </li>   
    <li><a href="../../Sales/AddNew"> <span class="fa fa-plus"></span> OPD Sale</a> </li>    
</ul>

<!-- Main content -->
<form method="post" action="">
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><b>Patient Name:</b> @Html.Label("PatientName", (string)@ViewBag.DdPatienName)
                    </h3>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label style="font-size: large; color: red;">Pharmacy Bill:</label>&nbsp;&nbsp;
                    <label style="font-size: large; color: red;">@ViewBag.NetTotal</label>

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("EnteredBy", Session["UserName"])
                        @Html.Hidden("PatientID")
                        @Html.Hidden("SaleID")
                        @Html.ValidationSummary(true)
                        <div class="box-body">
                            <div class="form-group">                               

                                <div  id="main">                                   
                                   <button type="submit" id="Calculate" class="btn btn-primary" style="width:20%" name="Calculate">Calculate</button>
                                   &nbsp;&nbsp;&nbsp;
                                   <button type="button" id="Save" class="btn btn-info" style="width:20%" onclick="location.href='@Url.Action("Index", "PatientReg")'" >
                                       Back To List
                                   </button>
                                   
                                </div>

                                <br />
                              <input type="hidden" name="TotalRows" value="@ViewBag.OTProductList.Count" />
                                @if (ViewBag.OTProductList != null)
                                {   
                                    <table id="myTable" class="table table-stripped table-bordered">
                                        <tr class="info">
                                            <td>
                                                <label>Product ID</label>
                                            </td>
                                            <td>
                                                <label>Item</label>
                                            </td>                                           
                                            <td>
                                                <label>Price</label>
                                            </td>
                                            <td>
                                                <label>Quantity</label>
                                            </td>
                                            @*<td>
                                                <label>Amount</label>
                                            </td>*@                                            
                                        </tr>
                                        @{
                                        int i = 0;
                                        foreach (var item in (IEnumerable<MedicalStore.Models.clsPatientReg>)ViewBag.OTProductList)
                                        {
                                            var qty = "Qty" + i;
                                            <tr>
                                               
                                                
                                                <td>@Html.TextBox("ProductID", null, new { @Readonly= true, @Value = @item.ProductID })</td> 
                                                <td>@Html.DisplayFor(modelItem => item.ProductName) </td>                                                
                                                <td>
                                                    @*<input type="text" name="UnitPrice" Value="@item.UnitPrice" readonly="true" onkeypress = "return isNumberKey(event)" />*@
                                                    @Html.TextBox("Price", null, new { @class = "form-control", style = "width:100%;", @Value = @item.UnitPrice })
                                                </td>
                                                <td>
                                                    @*<input type="text" name="Quantity" id=@qty  onkeypress = "return isNumberKey(event)" />*@ @*Value="@item.Quantity"*@
                                                    @Html.TextBox("Quantity", null, new { @class = "form-control", style = "width:100%;", @Value = @item.Quantity })
                                                </td>
                                                @*<td>
                                                    @Html.DisplayFor(modelItem => item.Total)
                                                </td> *@                                              
                                            </tr>
                                            i++;
                                        }
                                        }
                                    </table>
                                    
                                    <table>
                                        <tr>
                                            <td>
                                                <button type="submit" id="Calculate" class="btn btn-primary" name="Calculate" >Calculate</button>
                                            </td>
                                            <td>
                                                <button type="button" id="Save" class="btn btn-info"  onclick="location.href='@Url.Action("Index", "PatientReg")'" style="margin-left: 5%;">
                                                    Back To List
                                                </button>
                                            </td>
                                            <td>
                                                <button type="button" id="Cancel" class="btn btn-danger" onclick="location.href='@Url.Action("Cancel", "PatientReg")'" style="margin-left: 10%;display:none;">
                                                    Cancel
                                                </button>
                                            </td>
                                            <td>
                                                <button type="button" id="Refresh" class="btn btn-danger" onclick="location.href='@Url.Action("Cancel", "SalesAdmitPatient")'" style="    margin-left: -85%;display:none;">
                                                    Refresh
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                }
                                else
                                {

                                }

                                <div class="col-sm-6">
                                </div>
                                <div class="col-sm-4">
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                </div>
                            </div>
                        </div>
                    }
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    </form>


<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }



</script>
@*<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>*@
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.24/jquery.autocomplete.min.js"></script>
<script src="@Url.Content("~/Resources/plugins/select2/select2.full.min.js")"></script>
<script type="text/javascript">
    
    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();
    });
 

</script>
