@using PagedList;
@using PagedList.Mvc;
@model IEnumerable<MedicalStore.Models.clsDailyOPDToken>

@{
    ViewBag.Title = "List - Today OPD";
    Layout = "~/Views/_LayoutPage.cshtml";
}
@*<ol class="breadcrumb">
    <li style="font-weight: bold;">OPD</li>
    <li>@Html.Raw("List - Today OPD Token")</li>
    <li>@Html.ActionLink("Add - Generate OPD Token", "GenerateToken")</li>
</ol>*@

<ul class="breadcrumb-bg">
    <li><a href="../DailyOPDToken/Index"><span class="fa fa-home"></span> List - Today OPD Token </a> </li>   
    <li><a href="../DailyOPDToken/GenerateToken"> <span class="fa fa-plus"></span> Generate OPD Token</a> </li>    
    <li><a href="../DailyOPDToken/SearchOPD"> <span class="fa fa-search"></span> Search OPD</a> </li>     
</ul>

<style>
    .bgRed {
        background-color: #f27680;
        color: white;
    }
</style>

<script src="~/JSFiles/JSSearch.js"></script>
<div data-ng-app="modSearch">
    <div data-ng-controller="ctrlSearch" data-ng-init="GetCtrlDailyOPDTokenData()">
        <div class="row">
            <div class="col-md-12">
                <a href="../DailyOPDToken/PrintReport" data-tooltip="Print Today's OPD"><span class="btn btn-success">Print Today's OPD Report</span></a>                
                <div class="box">
                    <div class="box-header with-border">
                        <div class="col-xs-12" style="padding-left: 0px;">
                            <div class="btn-group pull-left">
                                <select ng-model="itemsPerPage" class="form-control input-sm">
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="300">300</option>
                                    <option value="400">400</option>
                                </select>
                            </div>
                            <div class="btn-group pull-right">
                                <input type="text" ng-model="txtSearch" ng-click="currentPage=0" class="form-control input-sm" placeholder="Search" />
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <div class="box-body" ng-show="CheckSH">
                        <pre><i class="fa fa-spinner fa-spin fa-lg"></i>  Loading...</pre>
                    </div>
                    <div class="box-body text-left table-responsive no-padding" ng-show="!CheckSH">
                        <table class="table table-condensed table-bordered table-striped margin-left ">
                            <tr>
                                <th>Doctor Name</th>
                                <th>OPD Number</th>
                                <th>Patient Name</th>
                                <th>Contact Number</th>                                
                                <th>Age</th>
                                <th>Sex</th>
                                <th>City</th> 
                                <th>Time</th>
                                <th>Status</th>      
                                <th style="width: 80px" class="text-center">@Html.DisplayName("Edit")</th>                          
                                <th style="width: 80px" class="text-center">@Html.DisplayName("Re-Print")</th>
                                <th style="width: 80px" class="text-center">@Html.DisplayName("Cancel")</th>
                                
                            </tr>
                            <tr class="paginationclass" ng-repeat="B in alldata | filter:txtSearch | pagination : currentPage*itemsPerPage | limitTo: itemsPerPage"  >
                                <td ng-class="{'bgRed': B.Status === 'Cancel'}">{{B.DoctorName}}</td>
                                <td ng-class="{'bgRed': B.Status === 'Cancel'}">{{B.OPDNumber}}</td>
                                <td ng-class="{'bgRed': B.Status === 'Cancel'}">{{B.PatientName}}</td>
                                <td ng-class="{'bgRed': B.Status === 'Cancel'}">{{B.ContactNo}}</td>
                                <td ng-class="{'bgRed': B.Status === 'Cancel'}">{{B.Age}}</td>
                                <td ng-class="{'bgRed': B.Status === 'Cancel'}">{{B.Sex}}</td>
                                <td ng-class="{'bgRed': B.Status === 'Cancel'}">{{B.City}}</td>
                                <td ng-class="{'bgRed': B.Status === 'Cancel'}">{{B.OPDDate.replace('/Date(','').replace(')/','') | date:"HH:mm"}}</td>
                                <td data-ng-class="(B.Status == 'Checked') ? '' : 'bgRed'">
                                    <b>{{B.Status}}</b>
                                </td> 
                                <td class="btnFields" ng-class="{'bgRed': B.Status === 'Cancel'}" >
                                    <a href="../DailyOPDToken/EditOPDToken/{{B.OPDID}}" data-tooltip="Edit: {{B.PatientName}}"><span class="fa fa-edit btnLarge text-info"></span></a>
                                </td>
                                 
                                <td class="btnFields" data-ng-if="B.Status != 'Checked'" ng-class="{'bgRed': B.Status === 'Cancel'}" >
                                    
                                </td>
                                 

                                <td class="btnFields" data-ng-if="B.Status == 'Checked'" ng-class="{'bgRed': B.Status === 'Cancel'}" >
                                    <a href="../DailyOPDToken/RePrintReport/{{B.OPDID}}" data-tooltip="Re-Print: {{B.PatientName}}"><span class="fa fa-print btnLarge text-info"></span></a>
                                </td>
                                <td class="btnFields" data-ng-if="B.Status != 'Checked'" ng-class="{'bgRed': B.Status === 'Cancel'}" >
                                   
                                </td>
                                <td class="btnFields" data-ng-if="B.Status == 'Checked'" >
                                    <a href="#" class="fa fa-close btnLarge text-danger" onclick="funDelete(this)" data-toggle="modal" data-target="#myModal" id="{{B.OPDID}}"></a>
                                </td>
                               
                            </tr>
                        </table>

                        <div class="pagination-div">
                            <ul class="pagination">
                                <li ng-class="DisablePrevPage()">
                                    <a href ng-click="prevPage()">« Prev</a>
                                </li>
                                <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                                    <a href="#">{{n+1}}</a>
                                </li>
                                @*<li ng-repeat="n in range()">
                                            <a href="#" style="background-color:red !important;">{{n}}</a>
                                        </li>*@
                                <li ng-class="DisableNextPage()">
                                    <a href ng-click="nextPage()">Next »</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function funDelete(a) {
        var id = $(a).attr("id");
        $("#DRecord").attr("href", "../DailyOPDToken/Delete/" + id);
    }
</script>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Alert</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete?</p>
            </div>
            <div class="modal-footer">
                <a href="#" id="DRecord" class="btn btn-info">YES</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
            </div>
        </div>
    </div>
</div>


